
    .q {
        width: 75%;
        border-radius: 555px;
    }

    footer {
        background: #5b7ee6;
        padding: 50px;
        color: #fff;
    }

    footer .img1234 {
        width: 50%;
        margin-top: 30px;
    }

    .icon  {

        font-size: 30px;
        text-decoration: none;
        color: white;
        margin-top: 22px;

    }
    a:hover{
        color: red;
    }
    