.weblogo {
    width: 65px;

}

.navbar {
    background: white;
    border-radius: 35px;
}

.navbar-nav li {
    padding: 0, 10px;

}

.mobilelogo {
    display: none;
    width: 65px;
}

.navbar-nav li a {
    color: black;
    font-weight: 600px;
    font-size: 20px;
    padding-left: 20px;
}

.navbar-nav li a:hover {
    background: yellow;
    color: white;
}
.navbar-nav ul button:hover{
    background: red;
    color: white;
}
.btnb{
    
    background: yellow;
    
    border: none;
    border-radius: 20px;
    margin-left: 25px;
    width: 100px;

}


@media(max-width:768px) {
    .mobilelogo {
        display: block;
    }

    .weblogo {
        display: none;
    }

    .navbar {
        background-color: whitesmoke
    }

    .btnb{
        margin-left: 155px;
    }
}